<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.sharding.dao.mapper.UsersMapper">


    <select id="listByIds" resultType="pers.sharding.dao.domain.Users">
        SELECT * FROM users WHERE id  in
        <foreach collection="ids" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>

    </select>

    <select id="pageByIds" resultType="pers.sharding.dao.domain.Users">
        SELECT * FROM users WHERE id  in
        <foreach collection="ids" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        limit #{offset}, #{limit}
    </select>

    <select id="listByIdAndName" resultType="pers.sharding.dao.domain.Users">
        SELECT * FROM users WHERE id  in
        <foreach collection="ids" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        and name in
        <foreach collection="names" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="listByIdRange" resultType="pers.sharding.dao.domain.Users">
        SELECT * FROM users WHERE 1 = 1
        <if test="min!= null">
            and id  <![CDATA[ >= ]]> #{min}
        </if>
        <if test="max!= null">
            and id  <![CDATA[ <= ]]> #{max}
        </if>

    </select>

    <select id="getByIdAndName" resultType="pers.sharding.dao.domain.Users">
        SELECT * FROM users WHERE id  = #{id} and name = #{name}
    </select>

    <select id="getById" resultType="pers.sharding.dao.domain.Users">
        SELECT * FROM users WHERE id  = #{id}
    </select>


</mapper>
